{% extends "_base.html" %}

{% block title %}Grap{% endblock %}
{% block main %}
    <div class="card border-primary m-auto mb-3 text-center"
        style="max-width: 30rem">
        <div class="card-header">{{ grap.question }}</div>
        <div class="card-body text-primary">
            <h5 class="card-title">{{ grap.answer }}</h5>
        </div>
        <div class="card-footer">
        <small class="text-muted">
        Created on: {{ grap.created }}
        Last updated: {{ grap.updated }}
        </small>
        </div>
    </div>
{% endblock %}